{% extends "base.html" %}
{% block content %}
<div class="gallery">
  <h1 id="heading">My Doodles<h1>
  <div class="col-md-4 col-sm-6 col-xs-12">
       <a href="#">
            <img src="../static/img/gallery1.jpg" class="thumbnail img-responsive">
       </a>
   </div>
   <div class="col-md-4 col-sm-6 col-xs-12">
       <a href="#">
              <img src="../static/img/gallery2.jpg" class="thumbnail img-responsive">
       </a>
   </div>
   <div class="col-md-4 col-sm-6 col-xs-12">
       <a href="#">
              <img src="../static/img/gallery3.jpg" class="thumbnail img-responsive">
       </a>
   </div>
   <div class="col-md-4 col-sm-6 col-xs-12">
       <a href="#">
            <img src="../static/img/gallery4.jpg" class="thumbnail img-responsive">
       </a>
   </div>
   <div class="col-md-4 col-sm-6 col-xs-12">
       <a href="#">
              <img src="../static/img/gallery5.jpg"class="thumbnail img-responsive">
       </a>
   </div>
</div>

{% endblock %}
