{% extends "base.html" %}
{% block content %}
  <section id="portfolio">
          <h2 id="heading">My Story</h2>

  <div class="container">
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>


      <div class="carousel-inner" role="listbox">

        <div class="item active">
          <img src="../static/img/story1.jpg" alt="Hyd" width="500" height="200">
          <div class="carousel-caption">
            <h1 id="heading">Hyderabad,India</h1>
            <p id="sub">Brought up in a vibrant city of Hyderabad. A true Hyderabadi at heart. Biriyani beckons!</p>
          </div>
        </div>

        <div class="item">
          <img src="../static/img/story2.jpg" alt="Coim" width="500" height="200">
          <div class="carousel-caption">
            <h1 id="heading">Coimbatore,India</h1>
            <p id="sub">Finished Bachelor's degree in Coimbatore. A sleepy city.</p>
          </div>
        </div>

        <div class="item">
          <img src="../static/img/story3.jpg" alt="aa" width="500" height="200">
          <div class="carousel-caption">
            <h1 id="heading">Ann Arbor, USA</h1>
            <p id="sub">Studying Master's degree at University of Michigan. A beautiful town!</p>
          </div>
        </div>


      </div>


      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

    </div>
  </section>
{% endblock %}
